* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  position: relative;
}

#game-board {
  height: 90vmin;
  width: 90vmin;
  background: #68b984;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
}
.score {
  background: yellow;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  right: 10rem;
  top: 1rem;
}

.dragon {
  background: url(fire.png); /* the dragon carry the eaten fire */
  background-size: 1rem;
  background-repeat: no-repeat;
  z-index: 1;
 
}
.head {
  background: url(dragon.png);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 22;
  width: 4rem; /* making the fire moves a bit */
  height: 4rem; /* making the fire moves a bit */
}

.food {
  background: url(fire.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* reset the speed to the begining speed "2" and add 20 points to the score after eating the next fire*/
.cheat-btn {
  position: absolute;
  right: 10rem;
  color: #000;
  padding: 1rem;
  border-radius: 1rem;
  width: 6rem;
  font-weight: bold;
  font-size: large;
  background: yellow;
}

.cheat-btn:hover {
  background: red;
}

.cheat-mode {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 1rem;
  top: 7rem;
  border: 1px solid blue;
  background-color: gray;
  padding: 1rem;
  height: 15rem;
  border-radius: 1rem;
  width: 23rem;
}

.hidden {
  display: none;
}
